<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="currentuser" value="Guest" />
    <add key="currentconnect" value="" />
    <add key="Language" value="en" />
    <add key="PhotoMetryInterval" value="1" />
    <add key="Com" value="COM2" />
    <add key="tunablebandwidth" value="false" />
    <add key="Spectralbandwidth" value="1.8" />
    <add key="SwithWL" value="340.0" />
    <add key="absAccuracy" value="0.0000" />
    <add key="tAccuracy" value="0.00" />
    <add key="ceAccuracy" value="0.00" />
    <add key="DDStatus" value="1" />
    <add key="WDStatus" value="1" />
    <add key="DDTime" value="6" />
    <add key="WDTime" value="6" />
    <add key="DDTTime" value="6" />
    <add key="WDTTime" value="6" />
    <add key="Printer" value="" />
    <add key="Preheatingtime" value="15" />
    <add key="AutoCalSY" value="true" />
    <add key="GLPEnabled" value="false" />
    <add key="EightSlot" value="false" />
    <add key="modelnumber" value="P7" />
    <add key="version" value="U61T,V2.0.0,V2.2.1&#xD;" />
    <add key="serialno" value="" />
    <add key="BoundRate" value="38400" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AutoSave" value="false" />
    <add key="LockSystem" value="" />
    <add key="AutoLockTime" value="" />
    <add key="NoCoverData" value="" />
    <add key="pwdCycle" value="-1" />
    <add key="SlotType" value="" />
    <add key="RaceMode" value="false" />
   <add key="AppCulture" value="en-US" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="mysqlcon" connectionString="Database='programdb';Data Source='localhost';User Id='root';Password='pass';charset='utf8';pooling=true" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=en-US, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=en-US, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <globalization culture="en-US" uiCulture="en-US"/>
  </system.web>
</configuration>